body {
	background-color: #eee;
	font-size: 20px;
}


#portfolio {
	position: absolute;
	left: 100%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	height: 75px;
	width: 200px;
	margin-left: -75px;
}

#nav {
	position: absolute;
	left: 0px;
	top: 50%;
}

.text-center {
	text-align: center;
}
tr {
    vertical-align: middle;
    padding: 0;
}


td {
	text-align: center;
	padding: 10px;
	background-color: red;
	height: 50px;
	width: 50px;
	-webkit-transition-property: all;
	-webkit-transition-duration: 1s;
}

td:hover {
	width: 100px;
	padding-right: 0px;
}

.icon {
	font-size: 30px;
}

.contact {
    text-decoration: none;
}