body {
	background-color: #eee;
	font-size: 20px;
}


#portfolio {
	position: absolute;
	left: 100%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	height: 75px;
	width: 200px;
	margin-left: -75px;
}