
ul {
  list-style-type: none;
  padding-left:0;
}

li span {
	float: left;
	border: black 1px solid;
	margin-right: 5px;
	padding: 5px;
}

.width {
	width: 50%;
	margin-left: 25%;
}

.select li:hover {
	background-color: #eee;
}

li img {
	width: 50%;
	padding: 0px;
	float: left;
	
}